# Compiled class file
*.class
*.classpath
*.project
.settings/
# Log file
*.log

/.metadata/
/RemoteSystemsTempFiles/
.recommenders/
sdi1-UO239795/.idea
sdi1-test-UO239795/.idea
Tienda_NodeJs_1/.idea
Tienda_NodeJs_1/node_modules
