# Compiled class file
*.class

# Log file
*.log
*.mp3
*.png

/.metadata/
/RemoteSystemsTempFiles/
.recommenders/
sdi1-UO239795/.idea
sdi1-test-UO239795/.idea
Tienda_NodeJs_1/.idea
Tienda_NodeJs_1/node_modules
