# Compiled class file
*.class
*.classpath
*.project
.settings/
# Log file
*.log

/.metadata/
/RemoteSystemsTempFiles/
.recommenders/
sdi1-UO239795/.idea
sdi1-test-UO239795/.idea
Tienda_NodeJs_1/.idea
Tienda_NodeJs_1/node_modules
Tienda_NodeJs_2/.idea
Tienda_NodeJs_2/node_modules
Tienda_NodeJs_3/.idea
Tienda_NodeJs_3/node_modules
sdi2-UO239795/.idea
sdi2-UO239795/node_modules
