<footer>
    <address>
        <p>
            <span th:text="#{footer.author}">Autor</span>: Iván González Mahagamage</p>
        <p>
            <span th:text="#{footer.contact}">Contacto</span>:
            <a href="mailto:uo239795@uniovi.es">uo239795@uniovi.es</a>
        </p>
    </address>
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2018 Copyright:
            <a href="https://www.linkedin.com/in/iv%C3%A1n-gonz%C3%A1lez-mahagamage-5bb340107/">
                Linkedin</a>
        </div>
    </div>
</footer>