{% extends "base.html" %}
{% block titulo %} Modificar comentario {% endblock %}
{% block contenido_principal %}
<h1>Modificar comentario</h1>
<form method="post" action="/comentario/modificar/{{ comentario._id.toString() }}">
    <fieldset>
        <div class="form-group">
            <label class="control-label col-sm-2" for="texto">Texto</label>
            <textarea class="form-control" rows="3" cols="20" name="texto"
                      required="required">{{ comentario.texto }}</textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-info" type="submit" value="Enviar Comentario"/>
        </div>
    </fieldset>
</form>

{% endblock %}