<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{details.user.title}">Detalles de la nota</h2>
		<div class="panel panel-default">
			<div class="panel-heading">DNI</div>
			<div class="panel-body" th:text="${user.dni}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{add.user.name}">Nombre</div>
			<div class="panel-body" th:text="${user.name}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{add.user.lastname}">Apellidos</div>
			<div class="panel-body" th:text="${user.lastName}">100</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{details.user.rol}">Rol</div>
			<div class="panel-body" th:text="${user.role}">100</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{list.title}">Rol</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="col-md-1">Id</th>
								<th th:text="#{add.description}">Descripción</th>
								<th th:text="#{add.score}">Puntuación</th>
								<th class="col-md-1"> </th>
								<th class="col-md-1"> </th>
								<th class="col-md-1"> </th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="mark : ${user.marks}">
								<td th:text="${mark.id}"> 1</td>
								<td th:text="${mark.description}"> Ejercicio 1</td>
								<td th:text="${mark.score}">10</td>
								<td>
									<a th:href="${'/mark/details/' + mark.id}" th:text="#{list.details}">detalles</a>
								</td>
								<td>
									<a th:href="${'/mark/edit/' + mark.id}" th:text="#{list.modify}">modificar</a>
								</td>
								<td>
									<a th:href="${'/mark/delete/' + mark.id}" th:text="#{list.delete}">eliminar</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<footer th:replace="fragments/footer" />
</body>

</html>