<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img src="/img/student-48.png" alt="logo" />
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li>
					<a href="/" th:text="#{welcome.home}">Home</a>
				</li>
				<li id="marks-menu" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span th:text="#{nav.mark}"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li th:if="@{${#httpServletRequest.requestURI}} == '/mark/add'" class="active">
							<a href="/mark/add" th:text="#{mark.add.message}"></a>
						</li>
						<li th:unless="@{${#httpServletRequest.requestURI}} == '/mark/add'">
							<a href="/mark/add" th:text="#{mark.add.message}"></a>
						</li>
						<li th:if="@{${#httpServletRequest.requestURI}} == '/mark/list'" class="active">
							<a href="/mark/list" th:text="#{mark.list.message}"></a>
						</li>
						<li th:unless="@{${#httpServletRequest.requestURI}} == '/mark/list'">
							<a href="/mark/list" th:text="#{mark.list.message}"></a>
						</li>
						<li th:if="@{${#httpServletRequest.requestURI}} == '/mark/filter'" class="active">
							<a href="/mark/filter" th:text="#{mark.filter.message}"></a>
						</li>
						<li th:unless="@{${#httpServletRequest.requestURI}} == '/mark/filter'">
							<a href="/mark/filter" th:text="#{mark.filter.message}"></a>
						</li>
					</ul>
				</li>
				<li id="users-menu" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<span th:text="#{nav.user}"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li th:if="@{${#httpServletRequest.requestURI}} == '/user/add'" class="active">
							<a href="/user/add" th:text="#{nav.user.add}"></a>
						</li>
						<li th:unless="@{${#httpServletRequest.requestURI}} == '/user/add'">
							<a href="/user/addWithOut" th:text="#{nav.user.add}"></a>
						</li>
						<li th:if="@{${#httpServletRequest.requestURI}} == '/user/list'" class="active">
							<a href="/user/list" th:text="#{nav.user.list}"></a>
						</li>
						<li th:unless="@{${#httpServletRequest.requestURI}} == '/user/list'">
							<a href="/user/list" th:text="#{nav.user.list}"></a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a id="btnLanguage" href=" #" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span th:text="#{language.change}"></span>
						<span class="caret"></span>
					</a>
					<ul id="languageDropdownMenuButton" class="dropdown-menu">
						<li>
							<a id="btnEnglish" value="en">
								<img th:src="@{/img/if_uk_flag.png}" style="border: 0; float: left; margin-right: 15px" />
								<span th:text="#{language.en}">Inglés</span>
							</a>
						</li>
						<li>
							<a id="btnSpanish" value="es">
								<img th:src="@{/img/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px" />
								<span th:text="#{language.es}">Español</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/signup" th:text="#{signup.message}">
						<span class="glyphicon glyphicon-user"></span> Registrate </a>
				</li>
				<li>
					<a href="/login" th:text="#{login.message}">
						<span class="glyphicon glyphicon-log-in"></span> Identifícate </a>
				</li>
			</ul>
		</div>
	</div>
</nav>