<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />

<body>
  <nav th:replace="fragments/nav" />
  <div class="container">
    <h2 th:text="#{add.title}"></h2>
    <form class="form-horizontal" method="post" action="/mark/add">
      <div class="form-group">
        <label class="control-label col-sm-2" for="user" th:text="#{add.user}">Alumno:</label>
        <div class="col-sm-10" th:if="${usersList != null and not #lists.isEmpty(usersList)}">
          <select id="user" class="form-control" name="user">
            <option th:each="user : ${usersList}" th:value="${user.id}" th:text="${user.dni}+' - '+${user.name}+' ' +${user.lastName} ">
              Usuario
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="description" th:text="#{add.description}"></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="description" th:attr="placeholder=#{add.description.placeholder}" required="true"
          />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd" th:text="#{add.score}">Puntuación:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="score" th:attr="placeholder=#{add.score.placeholder}" required="true" min="0"
            max="10" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" th:text="#{add.send}">Enviar</button>
        </div>
      </div>
    </form>
  </div>
  <footer th:replace="fragments/footer" />
</body>

</html>