<!DOCTYPE html>
<html lang="es">

<head th:replace="fragments/head" />

<body>
  <nav th:replace="fragments/nav" />
  <div class="container">
    <h2 th:text="#{list.title}">Notas</h2>
    <p th:text="#{list.description}">Las notas que actualmente figuran en el sistema son las siguientes:</p>
    <button type="button" id="updateButton" class="btn btn-default" th:text="#{list.update}">Actualizar</button>
    <script>
      $("#updateButton").click(function () {
        $("#tableMarks").load('/mark/list/update');
      });
    </script>
    <div class="table-responsive">
      <table class="table table-hover" th:fragment="tableMarks" id="tableMarks">
        <thead>
          <tr>
            <th class="col-md-1">Id</th>
            <th th:text="#{add.description}">Descripción</th>
            <th th:text="#{add.score}">Puntuación</th>
            <th class="col-md-1"> </th>
            <th class="col-md-1"> </th>
            <th class="col-md-1"> </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="mark : ${markList}">
            <td th:text="${mark.id}"> 1</td>
            <td th:text="${mark.description}"> Ejercicio 1</td>
            <td th:text="${mark.score}">10</td>
            <td>
              <a th:href="${'/mark/details/' + mark.id}" th:text="#{list.details}">detalles</a>
            </td>
            <td>
              <a th:href="${'/mark/edit/' + mark.id}" th:text="#{list.modify}">modificar</a>
            </td>
            <td>
              <a th:href="${'/mark/delete/' + mark.id}" th:text="#{list.delete}">eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer th:replace="fragments/footer" />

</body>

</html>