<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="/">Inicio</a>
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
	    aria-expanded="false" aria-label="Toggle navigation" style="">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-collapse collapse" id="navbarColor01" style="">
		<ul class="nav navbar-nav ml-auto">
			<li class="dropdown">
				<a id="btnLanguage" href=" #" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span th:text="#{language.change}"></span>
					<span class="caret"></span>
				</a>
				<ul id="languageDropdownMenuButton" class="dropdown-menu">
					<li>
						<a id="btnEnglish" value="en">
							<img th:src="@{/img/if_uk_flag.png}" style="border: 0; float: left; margin-right: 15px" />
							<span th:text="#{language.en}">Inglés</span>
						</a>
					</li>
					<li>
						<a id="btnSpanish" value="es">
							<img th:src="@{/img/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px" />
							<span th:text="#{language.es}">Español</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="signup">Registrate</a>
			</li>
			<li class="nav-item nav-inline">
				<a class="nav-link" href="login">Identifícate</a>
			</li>
		</ul>
	</div>
</nav>