{% extends "../templates/templateLogout.html" %}
{% block titulo %} Lista de Usuarios - UO239795 {% endblock %}
{% block main %}
<h1>Lista de usuarios</h1>
<table class="table table-hover">
    <thead class="table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Enviar invitación</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light">
        {% for user in users %}
        <td>{{ user.name }}</td>
        <td>{{ user.surName }}</td>
        <td>{{ user.email }}</td>
        <td>
            <form th:if="${user.receiveRequest} == null" th:attr="action=${'/request/send/' + user.id}">
                <input type="submit" class="btn btn-success" th:attr="value=#{list.send}"/>
            </form>
            <span th:if="${user.receiveRequest} != null and ${#strings.toString(user.receiveRequest.status)} == 'ACCEPTED'"
                  class="text-success" th:text="#{list.send.accepted}">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</span>
            <span th:if="${user.receiveRequest} != null and ${#strings.toString(user.receiveRequest.status)} == 'SENT'"
                  type="button" class="text-info" th:text="#{list.send.info}" disabled="disable">Success</span>
            <span th:if="${user.receiveRequest} != null and ${#strings.toString(user.receiveRequest.status)} == 'BLOCKED'"
                  type="button" class="text-danger" th:text="#{list.send.blocked}" disabled="disable">Success</span>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Buscar usuario</h2>
<form class="navbar-form" action="/user/list">
    <div class="form-group">
        <input name="searchText" type="text" class="form-control" size="50"
               placeholder="Buscar por email o nombre o apellido del alumno"/>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
{% endblock %}
{% block pagination %}
<div class="text-center">
    <ul class="pagination pagination-centered">
        <li class="page-item"><a class="page-link" href="/list?pg=1">Primera</a></li>
        {% if pgActual-1 >= 1 %}
        <li class="page-item"><a class="page-link" href="/list?pg={{ pgActual -1 }}">{{ pgActual -1 }}</a></li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="/list?pg={{ pgActual }}">{{ pgActual }}</a></li>
        {% if pgActual+1 <= pgLast %}
        <li class="page-item"><a class="page-link" href="/list?pg={{ pgActual+1 }}">{{ pgActual+1 }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="/list?pg={{ pgLast }}">Última</a></li>
    </ul>
</div>
{% endblock %}