{% extends "../templates/templatePagination.html" %}
{% block titulo %} Lista de Usuarios - UO239795 {% endblock %}
{% block main %}
<h1>Lista de usuarios</h1>
<table class="table table-hover">
    <thead class="table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Enviar invitación</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light">
        {% for user in users %}
        <td>{{ user.name }}</td>
        <td>{{ user.surName }}</td>
        <td>{{ user.email }}</td>
        <td>
            {% if user.request === undefined %}
            <form method="post" action="/send/{{ user._id.toString() }}">
                <input type="submit" class="btn btn-success" value="Enviar petición"/>
            </form>
            {% endif %}

            {% if user.request !== undefined %}
            <span th:if="${user.receiveRequest} != null and ${#strings.toString(user.receiveRequest.status)} == 'ACCEPTED'"
                  class="text-success" th:text="#{list.send.accepted}">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</span>
            {% endif %}

            {% if user.request !== undefined %}
            <span th:if="${user.receiveRequest} != null and ${#strings.toString(user.receiveRequest.status)} == 'SENT'"
                  type="button" class="text-info" th:text="#{list.send.info}" disabled="disable">Success</span>
            {% endif %}

            {% if user.request !== undefined %}
            <span th:if="${user.receiveRequest} != null and ${#strings.toString(user.receiveRequest.status)} == 'BLOCKED'"
                  type="button" class="text-danger" th:text="#{list.send.blocked}" disabled="disable">Success</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Buscar usuario</h2>
<form class="navbar-form" action="/list">
    <div class="form-group">
        <input name="searchText" type="text" class="form-control" size="50"
               placeholder="Buscar por email o nombre o apellido del alumno"/>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
{% endblock %}