<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{signup.title}">Registráte como usuario</h2>
		<form class="form-horizontal" method="post" action="/signup" th:object="${user}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="dni">DNI</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="dni" placeholder="99999999Y" required="required" onkeyup="check.checkInputs()"
					    th:attr="title=#{signup.dni.title}" pattern="[0-9]{8}[A-Z]{1}" />
					<span class="text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name" th:text="#{add.user.name}">Nombre:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" placeholder="Iván" required="required" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]{2,24}"
					    th:attr="title=#{signup.name.title}" onkeyup="check.checkInputs()" />
					<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="lastName" th:text="#{add.user.lastname}">Apellidos:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="lastName" placeholder="González Mahagamage" required="required" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]{2,24}"
					    th:attr="title=#{signup.passwordConfirm.placeholder}" onkeyup="check.checkInputs()" />
					<span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="password" th:text="#{login.password}">Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="password" th:attr="placeholder=#{login.password.placeholder}, title=#{signup.password.title}"
					    pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]{2,24}" onkeyup="check.checkInputs()" />
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="passwordConfirm" th:text="#{signup.passwordConfirm}">Repita el Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="passwordConfirm" th:attr="placeholder=#{signup.passwordConfirm.placeholder}, title=#{signup.passwordConfirm.placeholder}"
					    pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]{2,24}" onkeyup="check.checkInputs()" />
					<span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" onclick="check.checkAll()" disabled="disabled">Enviar</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>