{% extends "templates/templateLogin.html" %}
{% block titulo %} Registro - UO239795 {% endblock %}
{% block main %}
<script src="/script/checkForm.js"></script>
<h1>Registrar</h1>
<form method="post" action="/signup">
    <fieldset>
        <div id="email" class="form-group">
            <label>Email:</label>
            <input class="form-control" type="email" name="email" placeholder="uo239795@uniovi.es"
                   required="required" onkeyup="check.checkInputs()"
                   title="Introduzca un email valido"/>
        </div>
        <div id="name" class="form-group">
            <label>Nombre:</label>
            <input class="form-control" type="text" name="name" placeholder="Iván" required="required"
                   onkeyup="check.checkInputs()" title="Introduzca su nombre"
                   pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ]{2,}"/>
        </div>
        <div id="surName" class="form-group">
            <label>Apellidos:</label>
            <input class="form-control" type="text" name="surName" placeholder="González Mahagamage"
                   required="required" onkeyup="check.checkInputs()"
                   title="Introduzca su apellido"
                   pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]{2,}"/>
        </div>
        <div id="password" class="form-group">
            <label>Contraseña:</label>
            <input class="form-control" type="password" name="password"
                   placeholder="Introduzca su contraseña" title="Introduzca su contraseña"
                   pattern=".{5,}" required="required" onkeyup="check.checkInputs()"/>
        </div>
        <div id="passwordConfirm" class="form-group">
            <label>Repetir Contraseña:</label>
            <input class="form-control" type="password" name="passwordConfirm" required="required"
                   placeholder="Reintroduzca su contraseña" title="Reintroduzca su contraseña"
                   pattern=".{5,}" onkeyup="check.checkInputs()"/>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Enviar"
                   onclick="check.checkPasswords()" disabled="disabled"/>
        </div>
    </fieldset>
</form>
<script src="/script/showMessage.js"></script>
<script>
    message.showErrors("email");
    message.showErrors("name");
    message.showErrors("surName");
    message.showErrors("password");
    message.showErrors("passwordConfirm");
    message.showErrors("coincidence");
</script>
{% endblock %}