<!-- footer.html -->
<footer>
	<address>
		<p>Autor: Iván González Mahagamage</p>
		<p>
			Contacto: <a href="mailto:uo239795@uniovi.es">uo239795@uniovi.es</a>
		</p>
	</address>
	<p>
		<a href="https://validator.w3.org/check?uri=referer"> <img
			src="https://unioviedo-my.sharepoint.com/personal/uo239795_uniovi_es/_layouts/15/guestaccess.aspx?docid=1dc29309c5f484ddbb0d9db5b1c80c434&amp;authkey=ARFq9i5Nm2QpUmJj55IcDgQ&amp;e=705a58700abd4191a586e91989da4a0e"
			alt="HTML5 Válido"
			longdesc="https://validator.w3.org/check?uri=referer" />
		</a> <a href="http://jigsaw.w3.org/css-validator/check/referer"> <img
			src="https://unioviedo-my.sharepoint.com/personal/uo239795_uniovi_es/_layouts/15/guestaccess.aspx?docid=190f4b784428a40a2b969ae7f977a3d85&amp;authkey=AegPExwjY0qZ80NLtEpPmYo&amp;e=41cf2c002341476e8abb088bc7c0a15b"
			alt="¡CSS Válido!" />
		</a>
	</p>
</footer>